{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imgprojet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imgProjet.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ imgProjet.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ imgProjet.alt }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if imgProjet.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_imgprojet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_imgprojet_edit', { 'id': imgProjet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
