{% extends 'base.html.twig' %}

{% block body %}
    <h1>Docinterne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ docInterne.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ docInterne.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ docInterne.alt }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ docInterne.titre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ docInterne.slug }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if docInterne.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_docinterne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_docinterne_edit', { 'id': docInterne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
