{% extends 'FOLayout.html.twig' %}

{% block title %}
  {% for presentation in presentations %}
      {{ presentation.titre }}
  {% endfor %}
{% endblock %}

{% block meta %}
  {% for presentation in presentations %}
  <meta name="keywords" content="{{ presentation.tags }}"  />
  <meta name="description" content="{{ presentation.resume }}">
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ presentation.titre }}" />
  <meta property="og:description" content="{{ presentation.resume }}" />
  <meta property="og:url" content="http://jvecotedivoire.org/" />
  <meta property="og:image" content="http://www.jvecotedivoire{{ asset('ressources/images/logo.jpg') }}" />
  <meta property="og:site_name" content="JVE Côte d'Ivoire" />
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="{{ presentation.resume }}"/>
  <meta name="twitter:title" content="{{ presentation.titre }}"/>
  <meta name="twitter:domain" content="JVE Côte d'Ivoire"/>
  <meta property="twitter:image" content="http://www.jvecotedivoire{{ asset('ressources/images/logo.jpg') }}" />
  {% endfor %}
{% endblock %}

{% block body %}
  {% for presentation in presentations %}
  <div class="col-md-8 jve-article">
    <h2>{{ presentation.titre }}</h2>
    <img src="{{ asset('ressources/images/presentation/' ~ presentation.image.id ~ '.' ~ presentation.image.url )}}" alt="" class="thumbnail img-gauche" width="235">
    {{ presentation.contenu|raw }}
    <div class="jve-photo">
      <i class="fa fa-folder-open-o fa-lg"></i>
      <a href="#">Voir l'albums photos correspondant</a>
    </div>
    <div class="jve-auteur">
      <!--<div class="nom">{{ presentation.publiePar }} </div>-->
      <div class="date">Publié le {{ presentation.publieLe|date('d-m-Y h:s')}}</div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
